<table class="index-table-2">
  <!-- ヘッダー -->
  <tr>
    <th>物件名</th>
    <th>部屋</th>
  </tr>
  <!-- ボディー -->
  <% properties.each do |property| %>
    <tr>
      <td>
        <%= link_to property.name, property_path(property) %>
      </td>
      <td>
        <% property.rooms.each do |room| %>
        <%= room.number %>号室
        <br>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>