<main class="pt-0">
  <!-- ナビゲーター -->
  <div class="position-absolute pt-3">
    <%= link_to admin_hides_path, class: "" do %>
      <i class="fa-solid fa-chevron-left"></i> 戻る
    <% end %>
  </div>
  <!-- ヘッダー -->
  <h4 class="text-center py-4">非表示を登録</h4>
  <!-- フォーム -->
  <%= render partial: 'form', locals: { hide: @hide } %>
</main>