/*---------- リセットCSS ----------*/
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #e8eaec;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
h4 {
  font-weight: bold;
  font-size: 1.2em;
}
h5 {
  font-weight: bold;
  font-size: 1.1em;
}
h6 {
  font-weight: bold;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}